<div class="container">
  <br><br>
  <div class="card main-card">
    <br>
    <% @previous_nodes.each do |previous_node| %>
      <div class="sentence-card">
        <p class="lead sentence">
          <%= previous_node.sentence %>
          <span class="signature">-<%= previous_node.signature %></span>
        </p>
        <img class="gif" src="<%= previous_node.gif_url %>">
      </div>
    <% end %>
  </div>
  <% if @previous_nodes.length > 0 %>
    <% if @previous_nodes[-1].next_nodes_ids == nil %>
      <br>
      <%= render "nodes/node_form" %>
    <% end %>
  <% else %>
    <%= render "nodes/node_buttons" %>
  <% end %>

</div>

